<style>

  @media(min-width: 400px)
  {
    .container
    {
      margin-top: 200px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      width: 300px !important;
    }
  }
  .back
  {
    background-color:#FBFCFC;

  }

  img
  {
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 125px;
    height: 125px;
  }

  .apresentacao
  {
    margin: auto;
    width: 300px !important;

  }

  .apresentacao p
  {
    width: 200px !important;
    display: block;
    margin: 10px auto !important;
    padding: auto;
    text-align: center;
    color: #566573;
    font-size: 20px;
    font-weight: bolder
  }


  .input
  {
    margin: auto;
    width: 250px;
    border-radius: 5px;
  }

  button
  {
    background-color: #A93226;
    margin: 20px auto 0 auto;
    width: 100px !important;
    border-radius: 10px;
    font-weight: bold;
  }



  button:hover{background-color: #A93226 !important;}

</style>

<ion-content padding class="back">
  <div class="container">
    <img src="assets/imgs/logo-ufma.png">

    <ion-item class="apresentacao back">
      <p>NO QUEUE</p>
    </ion-item>

    <form [formGroup]="cadastro" (submit) = "login()">

    <ion-item class="input back" >
      <ion-label floating>Usuário</ion-label>
      <ion-input
                  [(ngModel)] = "nome"
                  formControlName="nome"
                  type="text"
                  name="nome"
                  clearInput
                  clearOnEdit="false"
      ></ion-input>
      <h6 *ngIf="errorEmail" class="error">{{messageEmail}}</h6>
    </ion-item>

    <ion-item class="input back">
      <ion-label floating>Senha</ion-label>
      <ion-input
                [(ngModel)] = "senha"
                formControlName="senha"
                type="password"
                name="senha"
                clearInput
                clearOnEdit="false"
      ></ion-input>
      <h6 *ngIf="errorPassword" class="error">{{messagePassword}}</h6>
    </ion-item>
    <!--[disabled]="cadastro.invalid"-->
    <button  block ion-button>LOGIN</button><!--(click)="pageIndex()" -->
    </form>
  </div>
</ion-content>
